<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="About.goBack()"></button>
      <h1 class="title">Sobre</h1>
    </ion-header-bar>

    <ion-content class="padding content-quaternary" style="color: white">

    <img src="img/icon.png" alt="As Diferentonas" style="display: block; margin: 0 auto; padding: 12px 0px 6px 0px">

    <p style="text-align: justify; padding: 0px 6px 0px 6px">
      <br>
      Esse aplicativo foi desenvolvido durante o Hackathon sobre Participação no Combate à Corrupção, promovido pelo Ministério da Justiça (MJ), sob a organização do LabPI.
    </p>

    <h3 style="color: white; padding: 0px 6px 0px 6px">Equipe</h3>
    <ul style="margin: 0px 12px 0px 6px">
      <li>Iara Ribeiro</li>
      <li>Jefferson Neves</li>
      <li>Luiz Augusto Morais</li>
      <li>Mariana Souto</li>
      <li>Nazareno Andrade</li>
      <li>Ricardo Araújo</li>
    </ul>
    </ion-content>

    <df-main-nav nav-class="'content-quaternary'"></df-main-nav>

</ion-pane>
