<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="About.goBack()"></button>
      <h1 class="title">Sobre</h1>
    </ion-header-bar>

    <ion-content class="padding content-quaternary" style="color: white">

    <img src="img/icon.png" alt="As Diferentonas" style="display: block; margin: 0 auto; padding: 12px 0px 12px 0px">

    <h4 class="text-title">O aplicativo</h4>
    <p class="text-body">
      As Diferentonas é um aplicativo para iOS e Android que ajuda você a fiscalizar e debater como seu município usa verbas federais. Pra isso, ele responde sua pergunta: é só meu município que recebe e investe verba desse jeito? Minha cidade é ~a diferentona~?
    </p>

    <h4 class="text-title">Como surgiu?</h4>
    <p class="text-body">
      Esse aplicativo foi uma iniciativa da Estratégia Nacional de Combate à Corrupção e à Lavagem de Dinheiro (ENCCLA). Ele foi desenvolvido durante o Hackathon sobre Participação no Combate à Corrupção, promovido pelo Laboratório de Participação e Inovação (LabPI) do Ministério da Justiça e outros parceiros institucionais.
    </p>

    <h4 class="text-title">Equipe</h4>
    <ul class="text-list">
      <li>Iara Ribeiro</li>
      <li>Jefferson Neves</li>
      <li>Luiz Augusto de Macêdo Morais</li>
      <li>Mariana Souto</li>
      <li>Nazareno Andrade</li>
      <li>Ricardo Araújo</li>
    </ul>

    <h4 class="text-title">Como contribuir?</h4>
    <p class="text-body">
      O aplicativo foi desenvolvido com licença GPLv2, que dá a oportunidade para outros desenvolvedores contribuírem com a evolução e manutenção d’As Diferentonas.
    </p>

    <ul style="margin: 0px 12px 20px 6px; font-size: 13px">
      <li><strong>Backend</strong>: github.com/nazareno/diferentonas-server</li>
      <li><strong>Frontend</strong>: github.com/luizaugustomm/diferentonas-client</li>
      <li><strong>Admin</strong>: github.com/jeffersonrpn/diferentonas-staff</li>
    </ul>

    <br><br><br>

    </ion-content>

    <df-main-nav nav-class="'content-quaternary'"></df-main-nav>

</ion-pane>
