<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="About.goBack()"></button>
      <h1 class="title">Sobre</h1>
    </ion-header-bar>

    <!-- <div class="tabs tabs-striped tabs-top tabs-icon-only">
      <a class="tab-item" style="visibility: hidden;"></a>
      <a class="tab-item" ui-sref="about"><i class="icon ion-information-circled"></i></a>
      <a class="tab-item" ui-sref="help"><i class="icon ion-help-circled"></i></a>
      <a class="tab-item" ui-sref="profile"><i class="icon ion-person"></i></a>
      <a class="tab-item" style="visibility: hidden;"></a>
    </div> -->

    <!-- <ion-content class="has-subheader"> -->
    <ion-content>

        <div class="content-quaternary text-body" style="color: #fff">
          <h4>O aplicativo</h4>
          <p>
            As Diferentonas é um aplicativo para iOS e Android que ajuda você a fiscalizar e debater como seu município usa verbas federais. Pra isso, ele responde sua pergunta: é só meu município que recebe e investe verba desse jeito? Minha cidade é ~a diferentona~?
          </p>

          <h4 class="text-title">Como surgiu?</h4>
          <p>
            Esse aplicativo foi uma iniciativa da Estratégia Nacional de Combate à Corrupção e à Lavagem de Dinheiro (ENCCLA). Ele foi desenvolvido durante o Hackathon sobre Participação no Combate à Corrupção, promovido pelo Laboratório de Participação e Inovação (LabPI) do Ministério da Justiça e outros parceiros institucionais.
          </p>
        </div>
        <div style="height: 35px; clear: both" class="content-quaternary"></div>
        <div class="content-tertiary text-body" style="color: #594fc5">
          <h4 style="color: #594fc5">Equipe</h4>
          <div class="row text-center">
            <div class="col-50">
              <img src="https://avatars3.githubusercontent.com/u/3472291?v=3&s=460" alt="Iara Ribeiro" class="img-staff" />
              <p>Iara Ribeiro</p>
            </div>
            <div class="col-50">
              <img src="https://avatars3.githubusercontent.com/u/5334905?v=3&s=460" alt="Jefferson Neves" class="img-staff" />
              <p>Jefferson Neves</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-50">
              <img src="https://avatars1.githubusercontent.com/u/475131?v=3&s=460" alt="Luiz Morais" class="img-staff" />
              <p>Luiz Morais</p>
            </div>
            <div class="col-50">
              <img src="https://avatars3.githubusercontent.com/u/15800324?v=3&s=460" alt="Mariana Souto" class="img-staff" />
              <p>Mariana Souto</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-50">
              <img src="https://avatars3.githubusercontent.com/u/1053850?v=3&s=460" alt="Nazareno Andrade" class="img-staff" />
              <p>Nazareno Andrade</p>
            </div>
            <div class="col-50">
              <img src="https://avatars2.githubusercontent.com/u/311029?v=3&s=460" alt="Ricardo Araújo" class="img-staff" />
              <p>Ricardo Araújo</p>
            </div>
          </div>
        </div>
        <div class="content-primary text-body" style="color: #fff; padding-bottom: 80px;">

          <h4>Como contribuir?</h4>
          <p>
            O aplicativo foi desenvolvido com licença GPLv2, que dá a oportunidade para outros desenvolvedores contribuírem com a evolução e manutenção d’As Diferentonas.
          </p>
          <h4>Repositórios</h4>

          <p>
            Backend <br>
            <a href="https://github.com/nazareno/diferentonas-server" target="_blank"><i class="ion-link"></i> github.com/nazareno/diferentonas-server</a>
          </p>

          <p>
            Frontend <br>
            <a href="https://github.com/luizaugustomm/diferentonas-client" target="_blank"><i class="ion-link"></i> github.com/luizaugustomm/diferentonas-client</a>
          </p>

          <p>
            Admin <br>
            <a href="https://github.com/jeffersonrpn/diferentonas-staff" target="_blank"><i class="ion-link"></i> github.com/jeffersonrpn/diferentonas-staff</a>
          </p>

        </div>

    </ion-content>

    <df-main-nav nav-class="'content-quaternary'"></df-main-nav>

</ion-pane>
