<ion-view>

  <div class="tabs tabs-striped tabs-top search-tab battle-search">
    <a nav-transition="none" class="tab-item content-tertiary" ui-sref="search()">Buscar cidade</a>
    <a nav-transition="none" class="tab-item content-primary active">Batalha das diferentonas</a>
  </div>

  <ion-content class="content-primary has-tabs">


      <form novalidate>
        <div class="search-input padding">
          <div class="item item-input" ng-class="Battle.selectedCities[0].nome ? 'search-input-part-rounded' : 'search-input-rounded'">
            <span class="icon-busca icon-negative placeholder-icon"></span>
            <input
              type="text"
              placeholder="Comparar esta cidade"
              ng-model="Battle.selectedCities[0].nome"
              ng-change="Battle.inputChanged(0)">
              <span class="icon icon-right ion-close-circled placeholder-icon"
                ng-click="Battle.clearFields()"
                ng-show="Battle.selectedCities[0].nome"></span>
          </div>
          <ion-list ng-show="Battle.selectedCities[0].nome && !Battle.selectedCities[0].isSelected">
              <ion-item
                class="shorter"
                ng-repeat="city in Battle.cities | filter:Battle.selectedCities[0].nome | orderBy:'nome' | limitTo: 8"
                ng-click="Battle.selectCity(city, 0)">
                  {{ city.nome }} - {{ city.uf }}
              </ion-item>
          </ion-list>
        </div>

        <div class="vs">VS</div>

        <div class="padding">
          <div class="item item-input" ng-class="Battle.selectedCities[1].nome ? 'search-input-part-rounded' : 'search-input-rounded'">
            <span class="icon-busca icon-negative placeholder-icon"></span>
            <input
              type="text"
              placeholder="Com esta cidade"
              ng-model="Battle.selectedCities[1].nome"
              ng-change="Battle.inputChanged(1)">
              <span class="icon icon-right ion-close-circled placeholder-icon"
                ng-click="Battle.clearFields()"
                ng-show="Battle.selectedCities[1].nome"></span>
          </div>
          <ion-list ng-show="Battle.selectedCities[1].nome && !Battle.selectedCities[1].isSelected">
              <ion-item
                class="shorter"
                ng-repeat="city in Battle.cities | filter:Battle.selectedCities[1].nome | orderBy:'nome' | limitTo: 8"
                ng-click="Battle.selectCity(city, 1)">
                  {{ city.nome }} - {{ city.uf }}
              </ion-item>
          </ion-list>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="submit" class="button battle-button" ng-click="Battle.fight()" ng-disabled="!Battle.isReady()"><i class="icon icon-left icon-balanced placeholder-icon ion-flag" style="color: white"></i> Começar batalha!</button>
          </div>
        </div>
      </form>

  </ion-content>

  <df-main-nav nav-class="'content-primary'"></df-main-nav>

</ion-view>
