<ion-pane class="broadcast">
    <ion-content class="padding content-default has-tabs" ng-controller="BroadcastCtrl">
        <ion-list>
            <label class="item item-input">
                <input type="text" placeholder="Título" required ng-model="Broadcast.title">
            </label>
            <label class="item item-input">
                <textarea placeholder="Digite aqui a mensagem..." rows="10" required ng-model="Broadcast.message"></textarea>
            </label>
        </ion-list>
        <button type="submit" class="button button-block button-royal" ng-click="Broadcast.submit()">Enviar</button>

        <br>
        <h4 class="text-center">Histórico de alertas</h4>
        <br>

        <df-message-card
          ng-repeat="message in Broadcast.messages"
          message="message"
          can-delete="true"></df-message-card>

    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>
</ion-pane>
