<ion-pane class="cards">
    <ion-header-bar class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ui-sref="search"></button>
      <h1 class="title">{{ City.city.info.nome }} - {{ City.city.info.uf }}</h1>
    </ion-header-bar>
    <ion-content class="padding content-default">
      <div class="card" ng-repeat="item in City.city.info.scores" ui-sref="themes({'id_city': City.city.info.id})">
          <div class="item item-text-wrap">
            <p>{{ item.area | formatName }}</p>
            <p class="text-center">
              <span class="item-positive">{{ item.repasseTotal | formatCurrency }}</span>
              <br>
              <span class="text-sm">{{ City.city.info.nome }}</span>
            </p>
            <div class="progress">
              <div class="progress-bar progress-bar-negative" style="width: 50%"></div>
              <div class="progress-bar progress-bar-positive" style="width: 50%"></div>
            </div>
            <p class="text-center">
              {{ item.mediaCidadesSemelhantes | formatCurrency }}
              <br>
              <span class="text-sm">Média</span>
            </p>
          </div>
      </div>
    </ion-content>
</ion-pane>
