<ion-pane class="cards">
    <ion-header-bar class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ui-sref="search"></button>
      <h1 class="title">{{ City.city.info.nome }} - {{ City.city.info.uf }}</h1>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader">
      <h2 class="title">Áreas</h2>
    </ion-header-bar>

    <ion-content class="padding content-default">

      <df-theme-card
        city="City.city"
        score="score"
        base-color="'#FFF'"
        ng-repeat="score in City.city.info.scores | orderBy:City.orderByScore"
        ui-sref="themes({'id_city': City.city.info.id, 'score': score.area})"
        ng-hide="score.valorScore == 0 || City.city.isNeutral(score)"></df-theme-card>

      <button class="button button-block button-clear button-positive" ng-click="City.toggleNeutrals()">
        Ver todos
      </button>

      <div ng-show="City.showNeutrals">
        <df-theme-card
          city="City.city"
          score="score"
          base-color="'#9D9C9F'"
          ng-repeat="score in City.city.info.scores | orderBy:City.orderByScore"
          ui-sref="themes({'id_city': City.city.info.id, 'score': score.area})"
          ng-hide="score.valorScore == 0 || !City.city.isNeutral(score)"></df-theme-card>
      </div>

    </ion-content>

    <ng-include src="'templates/main-nav.html'"></ng-include>

</ion-pane>
