<ion-pane>
    <ion-content>
        <div class="citem card" ng-repeat="convenio in City.convenios">

            <div class="item item-divider">
                <div class="item item-body">
                    {{ beautify(convenio.objeto) }}
                </div>

                <div class="item item-text-wraper">
                    Ano: {{ convenio.ano }}<br>
                    Repasse: R$ {{ formatCurrency(convenio.repasse) }}<br>
                    Situação: {{ convenio.situacao }}
                </div>

                <div class="item item-divider">
                    <a href="#" class="subdued"><i class="icon ion-heart"></i></a>
                    <a href="#" class="subdued"><i class="icon ion-heart-broken"></i></a>
                    <a href="#" class="subdued"><i class="icon ion-fireball"></i></a>
                </div>
            </div>
        </ion-content>
    </ion-pane>
