<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="Help.goBack()"></button>
      <h1 class="title">Ajuda</h1>
    </ion-header-bar>

    <!-- <div class="tabs tabs-striped tabs-top tabs-icon-only">
      <a class="tab-item" style="visibility: hidden;"></a>
      <a class="tab-item" ui-sref="about"><i class="icon ion-information-circled"></i></a>
      <a class="tab-item" ui-sref="help"><i class="icon ion-help-circled"></i></a>
      <a class="tab-item" ui-sref="profile"><i class="icon ion-person"></i></a>
      <a class="tab-item" style="visibility: hidden;"></a>
    </div> -->

    <!-- <ion-content class="has-subheader"> -->
    <ion-content>

      <div class="content-primary text-body" style="color: #fff; padding-bottom: 80px;">
        <h4>O QUE FAZ UMA CIDADE SER DIFERENTONA?</h4>
        <p>Uma cidade é considerada diferentona em determinada área quando recebe uma quantidade superior ou inferior de verba em comparação a outras cidades semelhantes. Essa semelhança é calculada a partir do Índice de Desenvolvimento Humano (IDH) e do tamanho da população de cada município. Pegando o exemplo de Campina Grande - PB, ela pode ser diferentona em saúde se as iniciativas dela nesta área possuírem mais verba em relação ao que é esperado nas cidades semelhantes.
        Cada área possui 5 níveis de diferentice:</p>
        <br>
        <p>(1) RECEBEU MUITO MENOS: Caso a quantidade de verba recebida tenha sido muito menor em relação ao que foi investido em outras cidades semelhantes</p>

        <df-theme-card city="Help.city" score="Help.scoreMuitoMenos" score-text="''" base-color="'#FFF'"></df-theme-card>

        <p>(2) RECEBEU MENOS: Caso a quantidade de verba recebida tenha sido menor em relação ao que foi investido em outras cidades semelhantes</p>

        <df-theme-card city="Help.city" score="Help.scoreMenos" score-text="''" base-color="'#FFF'"></df-theme-card>

        <p>(3) RECEBEU DENTRO DO ESPERADO: Caso a quantidade de verba recebida tenha sido parecida em relação ao que foi investido em outras cidades semelhantes</p>

        <df-theme-card city="Help.city" score="Help.scoreMedia" score-text="''"></df-theme-card>

        <p>(4) RECEBEU MAIS: Caso a quantidade de verba recebida tenha sido maior em relação ao que foi investido em outras cidades semelhantes</p>

        <df-theme-card city="Help.city" score="Help.scoreMais" score-text="''" base-color="'#FFF'"></df-theme-card>

        <p>(5) RECEBEU MUITO MAIS: Caso a quantidade de verba recebida tenha sido muito maior em relação ao que foi investido em outras cidades semelhantes</p>

        <df-theme-card city="Help.city" score="Help.scoreMuitoMais" score-text="''" base-color="'#FFF'"></df-theme-card>

        <h4>O QUE É A BATALHA DE DIFERENTONAS?</h4>
        <p>A Batalha das Diferentonas é uma função na qual você pode escolher quaisquer duas cidades do Brasil para comparar a quantidade de verbas destinadas em cada área. Uma das cidades vence a batalha se tiver mais temas com verbas superiores à outra cidade. Essa opção é ideal para você testar cidades vizinhas à sua ou municípios que você acha que possuem características em comum.</p>

        <h4>O QUE SÃO INICIATIVAS?</h4>
        <p>Na esfera pública as iniciativas são conhecidas como convênios e se referem a acordos realizados entre os órgãos públicos e outras  instituições, públicas ou privadas, para a realização de um objetivo comum, mediante formação de parceria.</p>

        <h4>QUAIS SÃO OS STATUS DAS INICIATIVAS E O QUE ELES DIZEM?</h4>
        <p>Os status das iniciativas dizem em que ponto está a sua execucação. Eles podem ser:</p>

        <br>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status não-iniciada" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>NÃO INICIADA: A iniciativa foi assinada e o valor foi repassado, entretanto, as ações ainda não começaram.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status em-andamento" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>EM ANDAMENTO: As ações da iniciativa começaram, mas ainda não foram concluídas.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status concluída-segundo-a-prefeitura" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>CONCLUÍDA - SEGUNDO A PREFEITURA: A prefeitura afirmou que concluiu a iniciativa, mas ainda não entregou a prestação de contas ao Governo Federal.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status concluída-segundo-a-prefeitura" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>CONCLUÍDA - APROVADA PELO GOVERNO FEDERAL: A prefeitura realizou a iniciativa e a prestação de contas foi aprovada pelo Governo Federal.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status concluída-segundo-a-prefeitura" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>CONCLUÍDA - APROVADA PELO GOVERNO FEDERAL COM RESSALVAS: A prefeitura realizou a iniciativa, mas a prestação de contas foi aprovada pelo Governo Federal com ressalvas</p>
          </div>
        </div>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status concluída-segundo-a-prefeitura" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>CONCLUÍDA - REJEITADA PELO GOVERNO FEDERAL: A prefeitura afirmou ter realizado a iniciativa, mas a prestação de contas foi rejeitada pelo Governo Federal</p>
          </div>
        </div>
        <div class="row">
          <div class="col-20">
            <span class="icon-status initiative-icon status anulado" style="margin-left: 0;"></span>
          </div>
          <div class="col-80">
            <p>ANULADA: houve algum problema com a iniciativa e o Governo Federal anulou o acordo</p>
          </div>
        </div>

        <h4>O QUE SÃO ALERTAS DO GOVERNO?</h4>
        <p>Alertas do governo são mensagens enviadas por um funcionário do governo para todos os usuários do aplicativo. Os alertas servem para informar períodos de interesse para o usuário ou informações/notificações importantes sobre iniciativas.</p>
      </div>
    </ion-content>

    <df-main-nav nav-class="'content-transparent'"></df-main-nav>

</ion-pane>
