<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="Help.goBack()"></button>
      <h1 class="title">Ajuda</h1>
    </ion-header-bar>

    <ion-content class="padding content-primary" style="color: white">

    <h4 class="text-title">O que faz uma cidade ser Diferentona?</h4>
    <p class="text-body">
      Uma cidade é considerada <em>diferentona</em> em determinada área quando recebe uma quantidade superior ou inferior de verba em comparação a outras cidades semelhantes, considerando dados a partir do ano de 2013. Essa semelhança é calculada a partir do Índice de Desenvolvimento Humano (IDH) e do tamanho da população de cada município. Pegando o exemplo de Campina Grande - PB, ela pode ser <em>diferentona</em> em saúde se as iniciativas dela nesta área possuírem mais verba em relação ao que é esperado nas cidades semelhantes.
    </p>
    <p class="text-body">
      Cada área possui 5 níveis de <em>diferentice</em>: (1) recebeu muito menos ou (2) recebeu menos, caso a quantidade de verba recebida tenha sido menor em relação ao que foi investido em outras cidades semelhantes; (3) recebeu dentro do esperado, caso a cidade em questão tenha recebido uma quantidade de verba parecida; ou (4) recebeu mais ou (5) recebeu muito mais, caso a verba tenha superado a das outras cidades semelhantes.
    </p>

    <h4 class="text-title">O que é a Batalha das Diferentonas?</h4>
    <p class="text-body">
      A Batalha das Diferentonas é uma função na qual você pode escolher quaisquer duas cidades do Brasil para comparar a quantidade de verbas destinadas em cada área. Uma cidade é vencedora se tiver mais áreas com verbas superiores à outra cidade. Essa opção é ideal para você testar cidades vizinhas à sua ou municípios que você acha que possuem características em comum.
    </p>

    <h4 class="text-title">O que são iniciativas?</h4>
    <p class="text-body">
      Na esfera pública, as iniciativas são conhecidas como convênios e se referem a acordos realizados entre os órgãos públicos e outras  instituições, públicas ou privadas, para a realização de um objetivo comum, mediante formação de parceria.
    </p>

    <h4 class="text-title">Quais são os status das iniciativas e o que eles significam?</h4>
    <p class="text-body">
      Os status das iniciativas dizem em que ponto está a sua execucação. Eles podem ser:
    </p>
    <ul class="text-list">
      <li><strong>Não iniciada</strong>: a iniciativa foi assinada e o valor foi repassado, entretanto, as ações ainda não começaram
</li>
      <li><strong>Em andamento</strong>: as ações da iniciativa começaram, mas ainda não foram concluídas
</li>
      <li><strong>Concluída, segundo a prefeitura</strong>: a prefeitura afirmou que concluiu a iniciativa, mas ainda não entregou a prestação de contas ao Governo Federal</li>
      <li><strong>Aprovada pelo Governo Federal</strong>: a prefeitura realizou a iniciativa e a prestação de contas foi aprovada pelo Governo Federal</li>
      <li><strong>Aprovada pelo Governo Federal com ressalvas</strong>: a prefeitura realizou a iniciativa, mas a prestação de contas foi aprovada pelo Governo Federal com ressalvas</li>
      <li><strong>Rejeitada pelo Governo Federal</strong>: a prefeitura afirmou ter realizado a iniciativa, mas a prestação de contas foi rejeitada pelo Governo Federal</li>
      <li><strong>Anulada</strong>: houve algum problema com a iniciativa e o Governo Federal anulou o acordo</li>
    </ul>
    <br><br><br>
    </ion-content>

    <df-main-nav nav-class="'content-primary'"></df-main-nav>

</ion-pane>
