<ion-pane class="cards">
    <ion-header-bar class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ui-sref="themes({'id_city': Initiative.city.info.id, 'score': Initiative.score})"></button>
      <h1 class="title">{{Initiative.score}}</h1>
      <button id = "follow" class="button" ng-click="Initiative.followInitiative()">
        <i class="icon-follow ion-eye"></i>
      </button>
    </ion-header-bar>

    <div class="tabs tabs-striped tabs-top tabs-icon-only">
      <a class="tab-item active">Informação</a>
      <a class="tab-item" ui-sref="initiative-similar({'id_city': Initiative.city.info.id, 'score': Initiative.score, 'id_initiative': Initiative.initiative.id})">Semelhantes</a>
      <a class="tab-item" ui-sref="initiative-comments({'id_city': Initiative.city.info.id, 'score': Initiative.score, 'id_initiative': Initiative.initiative.id})">
        Discussões
      </a>
    </div>

    <ion-content class="padding-top content-default has-subheader has-tabs">
      <br>
		  <div class="initiative-card initiative-title padding">
        <img src="img/home.svg" alt="Perfil" width="40px" class="initiative-icon" />
        <div class="col">
	        <p class="initiative-values-title">
	          Título: <br>
	          <p><strong>{{Initiative.initiative.titulo}}</strong></p>
	        </p>
	      </div>
      </div>

      <div class="initiative-card initiative-progress padding">
          <img src="img/home.svg" alt="Perfil" width="40px" class="initiative-icon" />

          <div class="progress-chart-end">
            Prestação de contas:<br>
            {{Initiative.initiative.dataConclusaoGovernoFederal}}
          </div>
          <div class="progress-chart-conclusion">
            Conclusão: <br>
            {{Initiative.initiative.dataConclusaoMunicipio}}
          </div>
          <div class="progress-chart-status" ng-to-date status-iniciative="{{Initiative.initiative.status}}"
          begin-iniciative="{{Initiative.initiative.dataInicio}}" end-iniciative="{{Initiative.initiative.dataConclusaoMunicipio}}" end="{{Initiative.initiative.dataConclusaoGovernoFederal}}">
            <strong>Status: <br>
            {{Initiative.initiative.status}}</strong>
          </div>
          <div class='progress-chart'>
            <div class = "legend-progress-chart"></div>
            <div class = "legend-progress-chart" style="margin-top: 75px"></div>
            <div class = "legend-progress-chart" style="margin-top: 0px"></div>
            <div class="triangle-status" ng-show-status  status-iniciative="{{Initiative.initiative.status}}"
          begin-iniciative="{{Initiative.initiative.dataInicio}}" end-iniciative="{{Initiative.initiative.dataConclusaoMunicipio}}" end="{{Initiative.initiative.dataConclusaoGovernoFederal}}"></div>
            <div class='progress-chart-done' ng-to-done  status-iniciative="{{Initiative.initiative.status}}"
          begin-iniciative="{{Initiative.initiative.dataInicio}}" end-iniciative="{{Initiative.initiative.dataConclusaoMunicipio}}" end="{{Initiative.initiative.dataConclusaoGovernoFederal}}"></div>
          </div>
          <div class='progress-chart-begin'>
               Início: <br>
                {{Initiative.initiative.dataInicio}}
          </div>
      </div>

      <div class="initiative-card initiative-values padding">
        <img src="img/home.svg" alt="Perfil" width="40px" class="initiative-icon" />
      	<p>Valor repassado pelo Governo Federal <strong>({{Initiative.initiative.fonte}})</strong></p>
    		<p class="initiative-currency">{{Initiative.initiative.verbaGovernoFederal | currency}}</p>
  			<p>Valor complementado pela Prefeitura:</p>
    		<p class="initiative-currency">{{Initiative.initiative.verbaMunicipio | currency}}</p>
    		<p>Valor total:</p>
  			<p class="initiative-currency">{{Initiative.initiative.verbaGovernoFederal+Initiative.initiative.verbaMunicipio | currency}}</p>
	    </div>
      <div class="initiative-card initiative-evaluation padding" ng-controller="BarChartCtrl">
        <img src="img/home.svg" alt="Perfil" width="40px" class="initiative-icon" />
		    Avaliação sobre esta iniciativa
                <nvd3 options="options" data="data"></nvd3>
        <div class = "row">
          <div class = "col"><i class="icon-chart ion-alert-circled"></i></div>
          <div class = "col"><i class="icon-chart ion-heart" style="color:#99003c"></i></div>
          <div class = "col"><i class="icon-chart ion-heart-broken" style="color:#99003c"></i></div>
        </div>
      </div>
    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>
</ion-pane>
