<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
        <button class="button icon ion-android-arrow-back" ng-click="Initiatives.goBack()"></button>
        <span class="two-line-title">
          <strong>{{Initiatives.theme}}</strong><br>
          <span style="font-size: 12px;">{{Initiatives.city.nome}} - {{Initiatives.city.uf}}</span>
      </span>
    </ion-header-bar>

    <div class="tabs tabs-striped tabs-top tabs-icon-only">
        <a class="tab-item active">Iniciativas</a>
        <!-- <a class="tab-item">Discussões</a> -->
    </div>

    <ion-content class="padding content-default has-subheader has-tabs">

        <div class="empty-message" ng-if="!Initiatives.hasInitiatives()">
            Não há iniciativas em <span style="font-weight: bold">{{Initiatives.theme}}</span>.
        </div>

        <df-initiative-card
          initiative="initiative"
          city="Initiatives.city"
          ui-sref="initiative-info({'id_initiative': initiative.id, 'id_city': Initiatives.city.id, 'theme': Initiatives.theme})"
          ng-repeat="initiative in Initiatives.initiatives | filter:Initiatives.theme:true"></df-initiative-card>

      <div style="height: 50px; clear: both"></div>

    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
