<ion-pane class="cards">
  <ion-header-bar align-title="center" class="bar bar-header">
    <button class="button icon ion-android-arrow-back" ng-click="Similar.goBack()"></button>
    <span class="two-line-title">
      <strong>{{Similar.theme}}</strong><br>
      <span style="font-size: 12px;">{{Similar.initiative.city.nome}} - {{Similar.initiative.city.uf}}</span>
    </span>
  </ion-header-bar>

  <div class="tabs tabs-striped tabs-top tabs-icon-only">
    <a nav-transition="none" class="tab-item" ui-sref="initiative({'id': Similar.initiative.id, 'id_city': Similar.initiative.city.id, 'theme': Similar.theme})">Informações</a>
    <a nav-transition="none" class="tab-item active">Semelhantes</a>
    <a nav-transition="none" class="tab-item" ui-sref="initiative-comments({'id': Similar.initiative.id, 'id_city': Similar.initiative.city.id, 'theme': Similar.theme})">Discussões</a>
  </div>

  <ion-content class="padding-top content-default has-subheader has-tabs">

    <div class="card">
      <div class="item item-text-wrap">
        Iniciativas semelhantes a:<br><br>
        <strong>{{Similar.initiative.titulo}}</strong>
      </div>
    </div>

    <div class="empty-message" ng-hide="Similar.initiative.similars.length">
      Não há iniciativas semelhantes.
    </div>

    <df-initiative-card
    iniciativa="initiative"
    city="initiative.cidade"
    ui-sref="initiative({'id': initiative.id, 'id_city': initiative.cidade.id, 'theme': Similar.theme})"
    ng-repeat="initiative in Similar.initiative.similars"></df-initiative-card>
  </ion-content>

  <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
