<ion-pane class="cards">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-android-arrow-back" ui-sref="initiative({'id_city': Similar.city.info.id, 'score': Similar.score, 'id_initiative': Similar.initiative.id})"></button>
        <h1 class="title">{{Similar.score}}</h1>
    </ion-header-bar>

    <div class="tabs tabs-striped tabs-top tabs-icon-only">
      <a class="tab-item" ui-sref="initiative({'id_city': Similar.city.info.id, 'score': Similar.score, 'id_initiative': Similar.initiative.id})">Informação</a>
      <a class="tab-item active" ui-sref="initiative-similar({'id_city': Similar.city.info.id, 'score': Similar.score, 'id_initiative': Similar.initiative.id})">Semelhantes</a>
      <a class="tab-item" ui-sref="initiative-comments({'id_city': Similar.city.info.id, 'score': Similar.score, 'id_initiative': Similar.initiative.id})">
        Discussões
      </a>
    </div>

    <ion-content class="padding-top content-default has-subheader has-tabs">

      <div class="card">
        <div class="item item-text-wrap">
          <p class="initiative-values-title">
            Iniciativas semelhantes a: <br>
            <p><strong>{{Similar.initiative.titulo}}</strong></p>
          </p>
        </div>
      </div>

      <div class="empty-message" ng-hide="Similar.initiative.similar.length">
          Não há iniciativas semelhantes.
      </div>

      <df-initiative-card
        iniciativa="iniciativa"
        city="Similar.city"
        ui-sref="initiative({'id_city': Similar.city.info.id, 'score': Similar.score, 'id_initiative': iniciativa.id})"
        ng-repeat="iniciativa in Similar.initiative.similar"></df-initiative-card>
    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
