<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ui-sref="search"></button>
      <h1 class="title">Alertas do Governo</h1>
    </ion-header-bar>

    <ion-content class="padding content-default has-tabs">
        <div class="empty-message" ng-if="Messages.messages.length === 0">
          Não há novos alertas.
        </div>

        <df-message-card message="message" ng-repeat="message in Messages.messages"></df-message-card>
    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
