<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="Profile.goBack()"></button>
      <h1 class="title">Eu</h1>
        <button class="button icon ion-power" ng-click="Profile.logout()"></button>
    </ion-header-bar>

    <ion-content class="padding content-default has-tabs">

      <div class="user-profile-card text-center">
        <img class="user-picture" fallback-src="http://www.gravatar.com/avatar/4563456781896?f=y&d=retro" ng-src="{{Profile.image}}"/>
        <p>{{Profile.name}}</p>
        <p class="user-confiability"><i class="ion-happy-outline"></i> % confiável</p>
      </div>

    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
