<ion-view>
  <ion-content class="content-primary has-tabs">

      <div class="search-input padding" ng-class="{'search-input-up': Search.isSearching}">
        <div class="item item-input" ng-class="Search.cityInput ? 'search-input-part-rounded' : 'search-input-rounded'">
          <input type="text" placeholder="Eu sou de..." ng-model="Search.cityInput" ng-focus="Search.startSearch()">
          <i class="icon icon-right icon-balanced placeholder-icon ion-search"></i>
        </div>
        <ion-list ng-show="Search.cityInput">
            <ion-item
              class="shorter"
              ng-repeat="city in Search.cities | filter:Search.cityInput | limitTo: 8"
              ng-click="Search.selectCity(city)"
              ui-sref="city({'id_city': city.id})">
                {{ city.nome }} - {{ city.uf }}
            </ion-item>
        </ion-list>
      </div>


  </ion-content>

  <df-main-nav nav-class="'content-primary'"></df-main-nav>

</ion-view>
