<ion-pane class="cards">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-android-arrow-back" ui-sref="city({'id_city': Themes.city.info.id})"></button>
        <h1 class="title">{{Themes.score}}</h1>
    </ion-header-bar>

    <div class="tabs tabs-striped tabs-top tabs-icon-only">
        <a class="tab-item active">
            <i class="icon ion-arrow-graph-up-right"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-chatbubbles"></i>
        </a>
    </div>

    <ion-content class="padding content-default has-subheader">

        <div class="empty-initiative-message" ng-if="!Themes.hasInitiatives(Themes.score)">
            <span >Não há iniciativas nesta área</span>
            <i class="icon ion-happy-outline"></i>
        </div>
        <df-initiative-card
        iniciativa="iniciativa"
        city="Themes.city"
        ui-sref="initiative({'id_city': Themes.city.info.id, 'score': Themes.score, 'id_initiative': iniciativa.id})"
        ng-repeat="iniciativa in Themes.city.inicitivas | filter:Themes.score:true"></df-initiative-card>
    </ion-content>

    <ng-include src="'templates/main-nav.html'"></ng-include>
</ion-pane>
