<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <!-- <button class="button icon ion-android-arrow-back" ng-click="Timeline.goBack()"></button> -->
      <h1 class="title">Últimas atualizações</h1>
    </ion-header-bar>

    <div class="tabs tabs-striped tabs-top tabs-icon-only">
      <a class="tab-item" style="visibility: hidden;"></a>
      <a class="tab-item" ui-sref="about"><i class="icon ion-information-circled"></i></a>
      <a class="tab-item" ui-sref="help"><i class="icon ion-help-circled"></i></a>
      <a class="tab-item" ui-sref="profile"><i class="icon ion-person"></i></a>
      <a class="tab-item" style="visibility: hidden;"></a>
    </div>

    <ion-content class="padding content-default has-subheader has-tabs">

      <ion-refresher
          pulling-text="Puxe para recarregar..."
          on-refresh="Timeline.doRefresh()">
      </ion-refresher>

      <div class="empty-message" ng-if="Timeline.news.length === 0">
          Não há novidades.<br>Siga alguma cidade ou iniciativa.
      </div>

      <div ng-repeat="new in Timeline.news">

        <df-new-initiative-card
        city="new.cidade"
        initiative="new.iniciativa"
        showcityname="true"
        ui-sref="initiative-info({'id_initiative': new.iniciativa.id, 'id_city': new.cidade.id, 'theme': new.iniciativa.area})"
        ng-if="new.tipo === 'NOVA_INICIATIVA'"></df-new-initiative-card>

        <df-updated-initiative-card
        city="new.cidade"
        initiative="new.iniciativa"
        showcityname="true"
        ui-sref="initiative-info({'id_initiative': new.iniciativa.id, 'id_city': new.cidade.id, 'theme': new.iniciativa.area})"
        ng-if="new.tipo === 'ATUALIZACAO_DE_INICIATIVA'"></df-updated-initiative-card>

        <df-new-comment-card
        city="new.cidade"
        initiative="new.iniciativa"
        comment="new.opiniao"
        showcityname="true"
        ui-sref="initiative-comments({'id_initiative': new.iniciativa.id, 'id_city': new.cidade.id, 'theme': new.iniciativa.area})"
        ng-if="new.tipo === 'NOVA_OPINIAO'"></df-new-comment-card>

      </div>

      <ion-infinite-scroll distance="40%" on-infinite="Timeline.loadMore()" ng-if="Timeline.moreData">
      </ion-infinite-scroll>

      <div style="padding-top: 25px; text-align: center"><img src="img/logo.svg" height="64" width="64"></div>

    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
