<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="Timeline.goBack()"></button>
      <h1 class="title">Eu</h1>
        <button class="button icon ion-person" ui-sref="profile"></button>
    </ion-header-bar>

    <ion-content class="padding content-default has-tabs">

      <div class="empty-message" ng-if="Timeline.news.length === 0">
          Não há novidades.<br>Siga iniciativas e volte mais tarde.
      </div>

      <div ng-repeat="new in Timeline.news">

        <df-updated-score-card
        city="new.cidade"
        score="new.score"
        ui-sref="initiatives({'id_city': new.cidade.id, 'theme': new.score.area})"
        ng-hide="new.score.area === 'TOTAL GERAL'"
        ng-if="new.tipo === 'NOVO_SCORE' || new.tipo === 'ATUALIZACAO_DE_SCORE'"></df-updated-score-card>

        <df-new-initiative-card
        city="new.cidade"
        initiative="new.iniciativa"
        showcityname="true"
        ui-sref="initiative-info({'id_initiative': new.iniciativa.id, 'id_city': new.cidade.id, 'theme': new.iniciativa.area})"
        ng-if="new.tipo === 'NOVA_INICIATIVA'"></df-new-initiative-card>

        <df-updated-initiative-card
        city="new.cidade"
        initiative="new.iniciativa"
        showcityname="true"
        ui-sref="initiative-info({'id_initiative': new.iniciativa.id, 'id_city': new.cidade.id, 'theme': new.iniciativa.area})"
        ng-if="new.tipo === 'ATUALIZACAO_DE_INICIATIVA'"></df-updated-initiative-card>

        <df-new-comment-card
        city="new.cidade"
        initiative="new.iniciativa"
        comment="new.opiniao"
        showcityname="true"
        ui-sref="initiative-comments({'id_initiative': new.iniciativa.id, 'id_city': new.cidade.id, 'theme': new.iniciativa.area})"
        ng-if="new.tipo === 'NOVA_OPINIAO'"></df-new-comment-card>

      </div>

      <ion-infinite-scroll distance="2" on-infinite="Timeline.loadMore()" ng-if="Timeline.moreData">
      </ion-infinite-scroll>
    </ion-content>

    <df-main-nav nav-class="'content-default'"></df-main-nav>

</ion-pane>
