<div class="list card">

  <div class="item item-avatar">
    <!-- <img src="http://www.gravatar.com/avatar/484649846498?f=y&d=retro"> -->
    <div class="reaction-icon">
      <i class="icon" ng-class="getIcon()"></i>
    </div>
    <!-- <h2>Username</h2>
    <h4 class="small">% confiável</h4> -->
  </div>

  <div class="item item-text-wrap item-avatar-text">
    <p>{{comment.conteudo}}</p>
  </div>

  <!-- <div class="item item-divider">
    <div class="row">
      <div class="col col-50 col-mid">
        <a
          class="button icon-left ion-chatbubble button-clear button-dark"
          ui-sref="initiative-replies({'id_city': city.info.id, 'theme': theme, 'id_initiative': initiative.id})"> 32</a>
      </div>
      <div class="col text-center"><a class="button button-icon icon ion-happy"></a></div>
      <div class="col text-center"><a class="button button-icon icon ion-sad"></a></div>
    </div>
  </div> -->

</div>
