<div class="card">
  <div class="item item-text-wrap" ng-class="{'card-positive': (score.valorScore >= 1), 'card-negative': (score.valorScore <= -1)}">
    <p>{{ city.getScoreText(score); }}</p>
    <p class="theme-title">{{ score.area | formatName }}</p>
    <p class="text-center">
      {{ score.repasseTotal | formatCurrency }}
      <br>
      <span class="text-sm">{{ city.info.nome }}</span>
    </p>

    <df-theme-chart score-value="score.valorScore" base-color="baseColor"></df-theme-chart>

    <p class="text-center">
      {{ score.mediaCidadesSemelhantes | formatCurrency }}
      <br>
      <span class="text-sm">Média</span>
    </p>
  </div>
</div>
