<div class="list card">

  <div class="item item-avatar">
    <img src="http://www.gravatar.com/avatar/484649846498?f=y&d=retro">
    <div class="reaction-icon">
      <span class="icon" ng-class="getIcon()"></span>
    </div>
    <h2><img ng-if="comment.autor.funcionario" src="img/distintivo.png" class="funcionario-badge"><strong>{{ comment.autor.login }}</strong></h2>
    <p>{{ comment.criadaEm }}</p>
  </div>

  <div class="item item-text-wrap item-avatar-text">
    <p>{{ comment.conteudo }}</p>
  </div>
   <div class="item opinion-divider">
    <div class="row">
      <div class="col-50 text-center">
        <!-- <button ng-class="comment.user.reaction ? 'like' : 'dislike'" class="icon-opinion button" ng-click="comment.likedComment()">-->
         <span class="icon-confiavel"> 0 </i>
         <!--</button>-->
      </div>
      <div class="col-50 text-center">
        <!--<button ng-class="comment.user.reaction ? 'like' : 'dislike'" class="icon-opinion button" ng-click="comment.likedComment()">-->
         <span class="icon-nao-confiavel"> 0 </i>
         <!--</button>-->
      </div>
    </div>
  </div>
</div>
