<div class="card">
  <div class="item item-text-wrap">
    <p class="initiative-card-city">{{city.info.nome}} - {{city.info.uf}}</p>
    <p><strong>{{ iniciativa.titulo }}</strong></p>
    <br>
    <div class="row">
      <div class="col-50">
        <i class="ion-android-time status" ng-class="city.getInitiativeStatus(iniciativa)"></i> {{ iniciativa.status }}
      </div>
      <div class="col-50">
        <i class="ion-social-usd balanced"></i> {{ iniciativa.verbaGovernoFederal | currency:'R$ ' }}
      </div>
    </div>
  </div>
  <div class="item item-divider">
    <div class="row">
      <div class="col-25"></div>
      <div class="col-25">{{iniciativa.sumario.coracao}}</div>
      <div class="col-25">{{iniciativa.sumario.coracao_partido}}</div>
      <div class="col-25">{{iniciativa.sumario.bomba}}</div>
    </div>
  </div>
</div>
