<div class="tabs tabs-icon-only main-nav" ng-class="navClass">
  <a class="tab-item main-nav" style="visibility: hidden;"></a>
  <a df-scroll-to-top class="tab-item main-nav" ui-sref="timeline({reload: true})">
    <img src="img/home.svg" alt="Perfil" width="50px" />
  </a>
  <a class="tab-item main-nav" ui-sref="search">
    <img src="img/search.svg" alt="Pesquisar cidade" width="50px" />
  </a>
  <a df-scroll-to-top class="tab-item main-nav" ui-sref="messages">
    <img src="img/message.svg" alt="Notificações" width="50px" />
  </a>
  <a class="tab-item main-nav" style="visibility: hidden;"></a>
</div>
