<div class="list card">

  <div class="item item-text-wrap">
    <div class="row">
      <div ng-class="showcityname ? 'col-60' : 'col-100'">
        <p class="new-initiative">Novo comentário!</p>
      </div>
      <div ng-show="showcityname" class="col-40">
        <p style="text-align: right" class="initiative-card-city">{{ city.nome }} - {{ city.uf }}</p>
      </div>
    </div>
    <p><strong>{{ initiative.titulo }}</strong></p>
  </div>

  <div class="item item-avatar">
    <img src="http://www.gravatar.com/avatar/484649846498?f=y&d=retro">
    <div class="reaction-icon">
      <i class="icon" ng-class="getIcon()"></i>
    </div>
    <h2>{{ comment.autor.login }}</h2>
    <p>{{ comment.criadaEm }}</p>
  </div>

  <div class="item item-body">
      <p style="margin-top: -6px">{{ comment.conteudo }}</p>
    </div>

   <div class="item opinion-divider">
    <div class="row">
      <div class="col-50 text-center">
        <!-- <button ng-class="comment.user.reaction ? 'like' : 'dislike'" class="icon-opinion button" ng-click="comment.likedComment()">-->
         <i class="icon-opinion ion-thumbsup"> 0 </i>
         <!--</button>-->
      </div>
      <div class="col-50 text-center">
        <!--<button ng-class="comment.user.reaction ? 'like' : 'dislike'" class="icon-opinion button" ng-click="comment.likedComment()">-->
         <i class="icon-opinion ion-thumbsdown"> 0 </i>
         <!--</button>-->
      </div>
    </div>
   </div>

</div>
