<div class="list card">
  <div class="item item-text-wrap">

    <div class="row">
      <div class="col-60">
        <p class="new-initiative">Nova iniciativa!</p>
      </div>
      <div class="col-40">
        <p style="text-align: right" class="initiative-card-city">Data de início: <strong>{{ initiative.dataInicio }}</strong></p>
      </div>
    </div>

    <p><strong>{{ initiative.titulo }}</strong></p>
    <br>

    <div class="row">
      <div class="col-60">
        <i class="ion-android-time status" ng-class="city.getInitiativeStatus(initiative)"></i> {{ initiative.status }}
      </div>
      <div class="col-40">
        <i class="ion-social-usd balanced"></i> {{ initiative.verbaGovernoFederal | currency:'R$ ' }}
      </div>
    </div>

  </div>

</div>
