<div class="list card">

  <div class="item item-text-wrap">
    <div class="row">
      <div ng-class="showcityname ? 'col-60' : 'col-100'">
        <p class="new-initiative">Novo comentário!</p>
      </div>
      <div ng-show="showcityname" class="col-40">
        <p style="text-align: right" class="initiative-card-city">{{ city.nome }} - {{ city.uf }}</p>
      </div>
    </div>
    <p ui-sref="initiative-comments({'id_initiative': initiative.id, 'id_city': city.id, 'theme': initiative.area})"><strong>{{ initiative.titulo }}</strong></p>
  </div>

  <div class="item item-avatar">
    <img ng-src="{{ comment.autor.urlDaFoto || 'http://www.gravatar.com/avatar/484649846498?f=y&d=retro'}}">
    <div class="reaction-icon">
      <i class="icon" ng-class="getIcon()"></i>
    </div>
    <h2>{{ comment.autor.nome }}</h2>
    <p>{{ comment.criadaEm }}</p>
  </div>

  <div class="item item-body item-avatar-text">
    <p>{{ comment.conteudo }}</p>
    <p>
      <span class="subdued" style="font-weight: bold" ng-if="!comment.apoiada" ng-click="likedComment()"><i class="icon icon-confiavel"></i><span ng-if="comment.numeroDeApoiadores > 0">{{comment.numeroDeApoiadores}}</span> Apoiar</span>
      <span class="subdued" style="font-weight: bold; color: #5850C0" ng-if="comment.apoiada" ng-click="unlikedComment()"><i class="icon icon-confiavel"></i><span ng-if="comment.numeroDeApoiadores > 0">{{comment.numeroDeApoiadores}}</span> Desapoiar</span>
    </p>
  </div>
</div>
