<div class="card">
  <div class="item item-text-wrap" ng-class="{'card-positive': (score.valorScore >= 1), 'card-negative': (score.valorScore <= -1)}">
    <p>{{ score.area | formatName }}</p>
    <p class="text-center">
      {{ score.repasseTotal | formatCurrency }}
      <br>
      <span class="text-sm">{{ City.city.info.nome }}</span>
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-negative" style="width: 50%"></div>
      <div class="progress-bar progress-bar-positive" style="width: 50%"></div>
    </div>
    <p class="text-center">
      {{ score.mediaCidadesSemelhantes | formatCurrency }}
      <br>
      <span class="text-sm">Média</span>
    </p>
  </div>
</div>
