<div class="card">
  <div class="item item-text-wrap" ng-class="{'card-positive': (score.valorScore >= 0.7), 'card-negative': (score.valorScore <= -0.7)}">
    <p>{{ scoreText }}</p>
    <p class="theme-title">{{ score.area }}</p>
    <p class="text-center">
      {{ score.repasseTotal | formatCurrency }}
      <br>
      <span class="text-sm">{{ city.nome }}</span>
    </p>

    <df-theme-chart score-value="score.valorScore" base-color="baseColor"></df-theme-chart>

    <p class="text-center">
      {{ ((score.mediaCidadesSemelhantes - 0.7 * score.desvioCidadesSemelhantes) >= 0) ? (score.mediaCidadesSemelhantes - 0.7 * score.desvioCidadesSemelhantes) : 0 | formatCurrency }} - {{ (score.mediaCidadesSemelhantes + 0.7 * score.desvioCidadesSemelhantes) | formatCurrency }}
      <br>
      <span class="text-sm">Repasses comuns para cidades semelhantes</span>
    </p>
  </div>
</div>
