<div class="card">
  <div class="item item-divider row">
    <div class="col-20">
      <img src="img/logo.svg" alt="Ícone" />
    </div>
    <div class="col-80">
      <p class="theme-title">{{ score.area }}</p>
    </div>
  </div>
  <div class="item item-text-wrap" ng-class="{'card-positive': (score.valorScore >= 1), 'card-negative': (score.valorScore <= -1)}">
    <div class="row">
      <div class="col-50">
        Passou de
      </div>
      <div class="col-50">
        {{ city.getScoreText(score.valorAnteriorScore) }}
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        para
      </div>
      <div class="col-50">
        {{ city.getScoreText(score.valorScore) }}
      </div>
    </div>
  </div>
</div>
