<ion-pane class="cards">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button icon ion-android-arrow-back" ng-click="Help.goBack()"></button>
      <h1 class="title">Ajuda</h1>
    </ion-header-bar>

    <ion-content class="padding content-primary" style="color: white">

    dasdlaskd çasodkasçd oaskd çaosd kasd
    asç dokas
    d oaskd asço dkasd
    açsod kas
    d asçod
    kas
    d çoaskd
    asoçd kas
     doçaskd
     çasod kasço dkasçodkasçdoask
     dsça
     dka sd ask doask dça

    </ion-content>

    <df-main-nav nav-class="'content-primary'"></df-main-nav>

</ion-pane>
