.content-default   { background-color: #E2E3E5; }
.content-primary   { background-color: #5850C0; }
.content-secondary { background-color: #444242; }
.content-tertiary  { background-color: #FFAA00; }
.content-quaternary  { background-color: #7D427D; }
.icon-default { color: #444242; }
.icon-positive { color: #58A87D; }
.icon-negative { color: #C64832; }
.icon-especial { color: #99003c; }

p.score-update-info, .score-update-info {
  text-align: right;
  margin-right: 3px;
  font-size: 12px;
  color: #666666;
}

p.score-update-value, .score-update-value {
  text-align: left;
  margin-left: 3px;
  margin-right: 5px;
  font-size: 14px;
}

.updated-score-title {
  color: #FFFFFF!important;
  padding-top: 15px!important;
}

.funcionario-badge {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  z-index: 1;
}

.item p.item-positive,
.item-positive { color: #58A87D; }
.item p.item-negative,
.item-negative { color: #C64832; }
.item p.item-neutral,
.item-neutral { color: #444444; }
.card-positive { background-color: #58A87D; }
.card-negative { background-color: #C64832; }
.card-neutral { background-color: #666666; }
.item.card-positive p { color: #fff;}
.item.card-negative p { color: #fff;}

.status { font-weight: bold; }
.status.em-andamento { color: #DD9F16; }
.status.concluída-segundo-a-prefeitura { color: #7770CB; }
.status.não-iniciada { color: #000; }
.status.aprovada-pelo-governo-federal { color: #58A87D; }
.status.aprovada-pelo-governo-federal-com-ressalvas { color: #58A87D; }

.smaller-text {
  font-size: 13px!important;
}

.text-left {
  text-align: left;
}

.login{
  text-align: center;
}

.search-tab {
  top: 0 !important;
}

.city-search {
  font-weight: bold;
  background-color: #FFAA00!important;
}

.battle-search {
  font-weight: bold;
  color : #FFFFFF;
  background-color: #5850C0!important;
}

.first-city-name {
  color: #FFAA00;
  font-weight: bold;
}

.second-city-name {
  color: #7D427D;
  font-weight: bold;
}

.first-city-link {
  color: #FFAA00;
  font-size: 13px;
  word-wrap: break-word;
}

.second-city-link {
  color: #7D427D;
  font-size: 13px;
  word-wrap: break-word;
}

.city-won-card {
  background-color: #FFAA00;
}

.city-lost-card {
  background-color: #7D427D;
}

.city-tied-card {
  background-color: #D3D3D3;
}

.item.city-won-card p {
  color: #FFFFFF;
}

.item.city-lost-card p {
  color: #FFFFFF;
}

.initiative-card {
  margin: 0 20px 1px 20px;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 0.9em;
  line-height: 1em;
  color: #5D5D5D;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.initiative-icon {
  float: left;
  margin-left: -48px;
  background-color: #fff;
  border-radius: 50%;
  padding: 7px;
  font-size: 1.8em;
  z-index: 9999;
}
.initiative-icon-img {
  float: left;
  margin-left: -48px;
  background-color: #FFF;
  border-radius: 50%;
  z-index: 9999;
}
.initiative-currency {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}
.item p.initiative-card-city {
  font-size: 0.8em;
  color: #B3B2B5;
}

.item p.new-initiative {
  font-size: 0.8em;
  color: #7D427D;
}

.icon-chart{
  font-size: 25px;
  margin-left: 25%;
}

.two-line-title {
  color : #5D5D5D;
  display: center;
  text-align: center;
  line-height: 17px;
  font-size: 15px;
  width: 400px;
}

.initiative-title {
  background-color: #fff;
  font-size: 1em;
}

.initiative-progress {
  background-color: #fff;
}
.initiative-values {
  background-color: #fff;
}
.initiative-evaluation {
  background-color: #fff;
}

.vs {
  color : white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 15px 0px 15px 0px;
}

.x-text {
  display: table;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 200%;
  font-size: 20px!important;
}

.centered-text {
  display: table;
  vertical-align: middle;
  width: 100%;
  line-height: 200%;
}

.battle-button {
  color : white;
  background-color: #C64832;
  padding: 0px 15px 0px 15px;
  margin-top: 15px;
  border-radius: 35px;
  display:inline-block;
  text-align: center;
}

.empty-message {
    text-align: center;
    font-size: 16px;
    padding: 20px 0px 10px 0px;
}

.empty-message i {
    text-align: center;
    display: block;
    font-size: 40px;
    padding: 10px 0px 10px 0px;
}

.item p.theme-title {
    font-size: 16px;
    font-weight: bold;
    padding: 2px 2px 10px 2px;
}

.text-sm {
  font-size: 0.8em;
}
.logo {
  width: 60%;
  display: block;
  margin: 80px auto 100px auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 30%;
}
.search-input {
  padding-top: 120px;
  transition: padding 0.5s;
}
.search-input-up {
    padding-top: 15px;
}
.search-input-sm {
    margin-left: 20px;
    margin-right: 20px;
}
.search-input-rounded {
    border-radius: 6px 35px 35px 6px;
}
.search-input-part-rounded {
    border-radius: 4px 4px 0 0;
}
.progress {
  height: 5px;
  margin-bottom: 2px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 5px;
  color: #fff;
  text-align: center;
  background-color: rgba(#ffffff, 0);
}
.progress-bar-positive {
  background-color: #FFF;
}
.progress-bar-negative {
  background-color: rgba(#ffffff, 0);
}
.progress-bar-balanced {
  background-color: #000;
}

.icon-check {
    font-size: 25px;
    text-align: center;
    color: #58A87D;
}

.icon-delay {
    font-size: 25px;
    text-align: center;
    color: #DD3C16;
}

.icon-right {
    padding-right: 15px;
}
.icon-balanced {
    font-size: 30px;
    color : #C64832;
}

.progress-chart-done {
  height: 300px;
  width: 5px;
  margin: 30px 0 25px 45%;
  overflow: hidden;
  background-color: #5D5D5D;
}

.progress-chart {
  height: 0px;
  width: 5px;
  margin: 30px 0 25px 0;
  overflow: hidden;
  background-color: #5D5D5D;
}

.legend-progress-chart{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  margin-top: 265px;
  margin-left: -15px;
  border: 3px solid #5D5D5D;
  background-color: #FFF;
}

.progress-chart-conclusion{
  position: relative;
  float: left;
  clear: left;
  text-align: right;
  margin: -245px 8% 18%;
}

.progress-chart-end{
  position: relative;
  float: left;
  text-align: right;
  margin: -320px 8% 0 8%;
}

.progress-chart-begin{
  position: relative;
  float: left;
  clear: left;
  text-align: right;
  margin: -55px 5% 0 8%;
}

.triangle-status{
  height: 3px;
  width: 15px;
  position: absolute;
  margin-top: 298px;
  margin-left: 15px;
  border: solid 8px;
  border-color: transparent #DD9F16 transparent transparent;
}

.square-info{
    background: #fff;
    border: solid 2px #DD9F16;
    width: 100px;
    text-align: center;
    height: 70px;
    margin-top: -35px;
    margin-left: 8px;
}

.icon-opinion{
  color: #5C5C5C;
  font-size: 1.5em;
}

.reaction-icon {
  float: right;
  color: #5850C0;
  font-size: 1.2em;
}
.item-avatar-text {
  border: none;
  padding-top: 0;
}
.item-reply {
  background-color: #ECECEE;
}
.card-reaction {
  margin-top: -35px;
  padding-top: 35px;
}
.button-reaction {
  z-index: 3;
  background-color: #727176;
  border-radius: 50%;
  width: 47px;
  height: 52px;
  color: #fff;
}
.button-reaction.active {
  background-color: #5850C0;
  color: #fff;
}
.button.button-full.button-reply {
  margin: 0 0 -1px 0;
}
.tabs.main-nav {
  background-size: 0px;
}
.tab-item.main-nav {
  opacity: 1;
}
.tab-item.main-nav > img {
  background-color: #444242;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.user-profile-card {
  margin: 100px 20px 20px 20px;
  padding-bottom: 10px;
  background-color: #444242;
  color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.user-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -80px;
  margin-bottom: 20px;
}
p.user-confiability {
  font-size: 1.1em;
}
.gov-message-card {
  margin: 0 0 15px 15px;
  background-color: #5F57C1;
  color: #FFF;
  padding: 15px 15px 15px 30px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
h2.gov-message-title {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
}
.gov-message-img {
  float: left;
  margin-left: -50px;
  background-color: #FFF;
  border-radius: 50%;
  z-index: 9999;
}
.gov-message-icon {
  color: #fff;
  font-size: 1.6em;
}
.gov-message-card > div.row > div.col {
  padding: 0;
}
.tabs-top.tabs-striped .tab-item.content-primary,
.tabs-top.tabs-striped .tab-item.content-primary,
.tabs-top.tabs-striped .tab-item.content-primary {
  background-color: #5850C0;
  color: #fff;
}
.tabs-top.tabs-striped .tab-item.content-tertiary,
.tabs-top.tabs-striped .tab-item.content-tertiary,
.tabs-top.tabs-striped .tab-item.content-tertiary {
  background-color: #FFAA00;
  color: #fff;
}
/* ionic overhide */
.item-divider {
  background-color: #FFF;
  padding-top: 0;
  padding-bottom: 0;
}
.list:last-child.card {
  margin-bottom: 0;
}
.tab-item {
  max-width: none;
}
.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated {
  border-style: none;
}
.tabs-top > .tabs,
.tabs.tabs-top {
  background: none;
}

.unfollow {
  background: #5D5D5D;
}

.follow{
  background-color: #5850C0;
}

.icon-follow{
  font-size: 23px;
  margin-left: -1px;
  margin-right: 3px;
  height: 35px;
  width: 35px;
  color:#fff;
  border-radius: 50%;
}

.loading-container {
  background-color: #5850C0;
}

.col-feeling{
   text-align: left;
   font-size: 26px;
   margin-left: 200px;
   margin-top: -35px;
   padding-bottom: 25px;
}
