.content-default   { background-color: #E2E3E5; }
.content-primary   { background-color: #5850C0; }
.content-secondary { background-color: #444242; }

.item p.item-positive,
.item-positive { color: #58A87D; }
.card-positive { background-color: #58A87D; }
.card-negative { background-color: #C64832; }
.item.card-positive p { color: #fff;}
.item.card-negative p { color: #fff;}

.status { font-weight: bold; }
.status.em-andamento { color: #DD9F16; }
.status.concluída-segundo-a-prefeitura { color: #7770CB; }
.status.não-iniciada { color: #000; }
.status.aprovada-pelo-governo-federal { color: #58A87D; }
.status.aprovada-pelo-governo-federal-com-ressalvas { color: #58A87D; }

.initiative-card {
  margin-top: 20px;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
  color: #FFF;
}
.initiative-progress {
  background-color: #DD9F16;
}
.initiative-values {
  background-color: #58A87D;
}
.initiative-evaluation {
  background-color: #5D5D5D;
}
.text-sm {
  font-size: 0.8em;
}
.logo {
  width: 60%;
  display: block;
  margin: 80px auto 100px auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 30%;
}
.search-input {
  padding-top: 60%;
  transition: padding 0.5s;
}
.search-input-up {
    padding-top: 15px;
}
.search-input-sm {
    margin-left: 20px;
    margin-right: 20px;
}
.search-input-rounded {
    border-radius: 6px 35px 35px 6px;
}
.search-input-part-rounded {
    border-radius: 4px 4px 0 0;
}
.progress {
  height: 5px;
  margin-bottom: 2px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 5px;
  color: #fff;
  text-align: center;
  background-color: rgba(#ffffff, 0);
}
.progress-bar-positive {
  background-color: #FFF;
}
.progress-bar-negative {
  background-color: rgba(#ffffff, 0);
}
.progress-bar-balanced {
  background-color: #000;
}
.icon-right {
    padding-right: 15px;
}
.icon-balanced {
    font-size: 30px;
    color : #C64832;
}
