.content-default   { background-color: #E2E3E5; }
.content-primary   { background-color: #5850C0; }
.content-secondary { background-color: #444242; }

.item p.item-positive,
.item-positive { color: #58A87D; }
.card-positive { background-color: #58A87D; }
.card-negative { background-color: #C64832; }
.item.card-positive p { color: #fff;}
.item.card-negative p { color: #fff;}

.status { font-weight: bold; }
.status.em-andamento { color: #DD9F16; }
.status.concluída-segundo-a-prefeitura { color: #7770CB; }
.status.não-iniciada { color: #000; }
.status.aprovada-pelo-governo-federal { color: #58A87D; }
.status.aprovada-pelo-governo-federal-com-ressalvas { color: #58A87D; }

.initiative-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
  color: #5D5D5D;
}

.icon-chart{
  font-size: 30px;
  text-align: center;
  position: absolute;
  margin: -5% 0 0 8%;
}

.initiative-title {
  background-color: #fff;
}

.initiative-progress {
  background-color: #fff;
}
.initiative-values {
  background-color: #fff;
}
.initiative-evaluation {
  background-color: #fff;
}
.text-sm {
  font-size: 0.8em;
}
.logo {
  width: 60%;
  display: block;
  margin: 80px auto 100px auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 30%;
}
.search-input {
  padding-top: 60%;
  transition: padding 0.5s;
}
.search-input-up {
    padding-top: 15px;
}
.search-input-sm {
    margin-left: 20px;
    margin-right: 20px;
}
.search-input-rounded {
    border-radius: 6px 35px 35px 6px;
}
.search-input-part-rounded {
    border-radius: 4px 4px 0 0;
}
.progress {
  height: 5px;
  margin-bottom: 2px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 5px;
  color: #fff;
  text-align: center;
  background-color: rgba(#ffffff, 0);
}
.progress-bar-positive {
  background-color: #FFF;
}
.progress-bar-negative {
  background-color: rgba(#ffffff, 0);
}
.progress-bar-balanced {
  background-color: #000;
}
.icon-right {
    padding-right: 15px;
}
.icon-balanced {
    font-size: 30px;
    color : #C64832;
}
.progress-chart {
  height: 300px;
  width: 4px;
  margin: 30px 0 25px 50%;
  overflow: hidden;
  background-color: #DD9F16;
}

.triangle-status{
  height: 3px;
  width: 15px;
  position: absolute;
  margin-top: 298px;
  margin-left: -5px;
  border: solid 8px;
  border-color: transparent #DD9F16 transparent transparent;
}

.progress-chart-done {
  height: 300px;
  width: 4px;
  position: absolute;
  background-color:#5D5D5D;
}

.legend-progress-chart{
  height: 3px;
  width: 15px;
  position: absolute;
  margin-top: 298px;
  margin-left: -5px;
  background-color: #5D5D5D;
}

.progress-chart-begin{
  position: absolute;
  margin: -35px 0 0 25%;
}

.progress-chart-end{
  position: absolute;
  margin: 20px 0 0 3%;
}

.progress-chart-conclusion{
  position: absolute;
  margin: 90px 0 0 20%;
}

.progress-chart-status{
  position: absolute;
  margin: 35px 0 0 50%;
  color: #DD9F16;
}
.reaction-icon {
  float: right;
  color: #5850C0;
  font-size: 1.2em;
}
.item-avatar-text {
  border: none;
  padding-top: 0;
}
.item-reply {
  background-color: #ECECEE;
}
.card-reaction {
  margin-top: -35px;
  padding-top: 35px;
}
.button-reaction {
  z-index: 3;
  background-color: #727176;
  border-radius: 50%;
  width: 47px;
  height: 52px;
  color: #fff;
}
.button-reaction.active {
  background-color: #5850C0;
}
.button.button-full.button-reply {
  margin: 0 0 -1px 0;
}
.tabs.main-nav {
  background: none;
  border: none;
}
.tab-item.main-nav {
  opacity: 1;
}
.tab-item.main-nav > img {
  background-color: #444242;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.user-profile-card {
  margin: 100px 20px 20px 20px;
  padding-bottom: 10px;
  background-color: #444242;
  color: #FFF;
}
.user-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -80px;
  margin-bottom: 20px;
}
p.user-confiability {
  font-size: 1.1em;
}
.gov-message-card {
  margin: 0 0 0 15px;
  background-color: #5F57C1;
  color: #FFF;
  padding: 15px 15px 15px 30px;
}
.gov-message-card > h2 {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
}
.gov-message-img {
  float: left;
  margin-left: -50px;
  background-color: #FFF;
  border-radius: 50%;
  z-index: 9999;
}
/* ionic overhide */
.item-divider {
  background-color: #FFF;
  padding-top: 0;
  padding-bottom: 0;
}
.list:last-child.card {
  margin-bottom: 0;
}
